/* Write your global styles here, in PostCSS syntax */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

html,
body {
  @apply h-full overflow-hidden;
}

:root {
  --fnky-body: #15171f;
  --fnky-surface: #202330;
  --fnky-control: #2b2e40;

  --fnky-text: #ffffff;
  --fnky-text-muted: #9ca3af;
  --fnky-text-inverted: #000000;

  --fnky-highlight: #d4163c;
  --fkny-highlight-muted: #5d172a;
}
